<div class="flex flex-col gap-3">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Cantidad</legend>
    <select class="select">
      <option disabled selected>Seleccionar</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-accent-content">
      Comprar o añadir
    </legend>
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-3">
      <button class="btn btn-success">
        <i class="fa-brands fa-whatsapp"></i>
        Comprar / Cotizar
      </button>
      <button class="btn">
        Añadir al carrito
      </button>
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-accent-content">
      Medios de pago
    </legend>
    <div class="flex flex-row gap-3">
      <img src="images/pay-methods/visa.png" alt="visa">
      <img src="images/pay-methods/mastercard.png" alt="mastercard">
      <img src="images/pay-methods/nequi.png" alt="nequi">
      <img src="images/pay-methods/daviplata.png" alt="daviplata">
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-accent-content">
      Importante
    </legend>
    <ul class="list-disc">
      <li>Preguntar si el precio contempla costos de envío.</li>
      <li>El pedido puede tardar entre <strong>2</strong><u>días hábiles</u> en estar listo.</li>
    </ul>
  </fieldset>
</div>
