<nav class="bg-base-100 p-4 rounded-lg border border-base-200 shadow-sm w-full md:w-64">
  <h3 class="text-lg font-bold mb-3 text-success">
    Tabla de contenido
  </h3>
  <div class="border-t border-dashed text-neutral/45 h-[1px] py-1"></div>
  <ul class="space-y-2 text-base-content">
    <li class="link link-hover hover:text-success hover:bg-base-200" 
      (click)="scrollToElement(0)">
        1. Misión
    </li>
    <li class="link link-hover hover:text-success hover:bg-base-200" 
      (click)="scrollToElement(1)">
        2. Visión
    </li>

    <li class="link link-hover hover:text-success hover:bg-base-200" 
      (click)="scrollToElement(2)">
        3. Linea del tiempo
    </li>
    <li class="link link-hover hover:text-success hover:bg-base-200" 
      (click)="scrollToElement(3)">
        4. Compromiso
    </li>
  </ul>
</nav>