<div class="max-h-[70vh]">
  <div class="relative">
    <video class="w-full h-[70vh] object-cover"
      src="/videos/hero.mp4"
      autoplay
      muted
      loop
      poster="/images/hero.jpg">
        <source src="/videos/hero.mp4" type="video/mp4">
        <img src="/images/hero.jpg" alt="Descripción del video" class="w-full h-full object-cover">
    </video>
    <div class="absolute top-0 bg-black/65 w-full h-full flex flex-col justify-center items-center pointer-events-none">
      <div class="w-[90vw] flex flex-col lg:flex-row-reverse justify-between items-center gap-5">
        <div class="flex">
          <img class="rounded-lg max-w-96 h-48 animate-soft-bounce" alt="logo" src="/images/logo.png" />
        </div>
        <div class="flex flex-col gap-5 lg:text-start text-center text-white">
          <h2 class="text-4xl lg:text-7xl ">
            Materiales Ecológicos
          </h2>
          <p class="text-lg md:text-xl ">
            Transformamos residuos en soluciones sostenibles
          </p>
          <div class="flex lg:justify-start justify-center pointer-events-auto">
            <a class="btn btn-warning btn-lg shadow rounded-2xl" [routerLink]="['/contact-us']">
              <i class="fa-solid fa-arrow-right-long" ></i>
                Escríbenos
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
