<div class="mt-5 bg-secondary/5 pt-10 pb-20 px-3 ">
  <div class="mx-auto container">
    <div class="grid grid-cols-1 lg:grid-cols-3 items-center gap-10">
      <div class="col-span-full">
        <ui-title title="Ubicación" data-aos="fade-up" />
      </div>
      <div class="col-span-1">
        <ul class="list bg-base-100 rounded-box shadow-md" data-aos="zoom-in-down">
          <li class="list-row items-center">
            <div class="text-2xl">
              <i class="fa-regular fa-map fa-fw text-success"></i>
            </div>
            <div class="list-col-grow">
              <div class="flex flex-col gap-1">
                <h2 class="text-lg font-bold">
                  Dirección
                </h2>
                <div class="text-base uppercase text-base-content/80">
                  Cra 00 Numero 00 - 00A Av 00 - 00, <br /> Bogotá DC
                </div>
              </div>
            </div>
          </li>
          <li class="list-row items-center">
            <div class="text-2xl">
              <i class="fa-solid fa-phone fa-fw text-success"></i>
            </div>
            <div class="list-col-grow">
              <div class="flex flex-col gap-1">
                <h2 class="text-lg font-bold">
                  Numero
                </h2>
                <div class="flex flex-row gap-1 w-full justify-between items-center">
                  <a class="link text-base text-base-content/80">
                    {{phoneNumber}}
                  </a>
                  <div class="join">
                    <a class="btn btn-sm btn-accent join-item py-0" [href]="'tel:'+phoneNumber">
                      <i class="fa-solid fa-phone-volume fa-fw text-base"></i>
                    </a>
                    <a class="btn btn-sm btn-accent join-item py-0" [href]="whatsappNumber">
                      <i class="fa-brands fa-whatsapp fa-fw text-xl "></i>
                    </a>
                  </div>
                </div>                
              </div>
            </div>
          </li>
          <li class="list-row items-center">
            <div class="text-2xl">
              <i class="fa-regular fa-envelope fa-fw text-success"></i>
            </div>
            <div class="list-col-grow">
              <h2 class="text-lg font-bold">
                Correo
              </h2>
              <a class="link text-base text-base-content/80">
                correo(arroba)risas.com
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-span-1 lg:col-span-2">
          <iframe class="w-full h-[384px] rounded-xl shadow-md"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8951843531853!2d-74.0835859!3d4.6097102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a7b339cdff%3A0xe3e2b58d667b5db!2sBogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2sco!4v1719253812345!5m2!1ses!2sco"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            data-aos="zoom-in-up">
          </iframe>
      </div>
    </div>
  </div>
</div>
