<ul class="text-sm gap-1" [class]="menuClasses">
  <li>
    <a [routerLink]="['/']"
      routerLinkActive="router-active"
      [routerLinkActiveOptions]="{exact:true}">
      <div class="sm:hidden block">
          <i class="fa-solid fa-house-chimney text-neutral-400 w-5"></i>
      </div>
        Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['/about-us']"
      routerLinkActive="router-active">
      <div class="sm:hidden block">
        <i class="fa-solid fa-people-group text-neutral-400 w-5"></i>
      </div>
        Nosotros
    </a>
  </li>
  <li>
    <a [routerLink]="['/sustainable-construction']"
      routerLinkActive="router-active">
      <div class="sm:hidden block">
        <i class="fa-solid fa-leaf text-success-400 w-5"></i>
      </div>
        Construcción Sostenible
    </a>
  </li>
  <li>
    <a [routerLink]="['/products']"
      routerLinkActive="router-active">
      <div class="sm:hidden block">
        <i class="fa-solid fa-cubes text-neutral-400 w-5"></i>
      </div>
        Productos
    </a>
  </li>
  <li>
    <a [routerLink]="['/contact-us']"
      routerLinkActive="router-active">
      <div class="sm:hidden block">
        <i class="fa-solid fa-envelope text-neutral-400 w-5"></i>
      </div>
        Contacto
    </a>
  </li>
</ul>
