<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <div class="col-span-1">
    <div class="flex flex-col gap-3 justify-center">
      <label class="font-semibold md:text-start text-center">
        ¿Que proyecto tienes en mente?
      </label>
      <label class="input w-full">
        <span class="label min-w-[80px]">
          Buscar
        </span>
        <input type="text" placeholder="Mampostería ecológica " formControlName="name" />
      </label>
    </div>
  </div>
</div>
