

<ul class="timeline timeline-vertical">
  <li>
    <div class="timeline-start timeline-box">
      Origen de la idea
    </div>
    <div class="timeline-middle">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <div class="timeline-end timeline-box">Fundación de Building Ecologically</div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-start timeline-box">Primeros proyectos</div>
    <div class="timeline-middle">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <div class="timeline-end timeline-box">Expansión y visión</div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-start timeline-box">Líderes en el mercado</div>
    <div class="timeline-middle">
      <i class="fa-solid fa-circle-check"></i>
    </div>
  </li>
</ul>
